.APropos {
    width: 100%;
    height: auto;
    margin: 1% 0 ;
}

.APropos h1{
    text-align: center;
}

.verticalBar1{
    border-left: 2px solid var(--main-color);
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    position: absolute;
    left: 50%;
}

.apropos_content{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 7%;
}

.apropos-txt{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

/* .apropos_info{
    padding : 5px;
    margin-left: 10%;
    height: 350px;
    width: 20%;
    margin-top: 5%;
    font-size: 25px;
    border: 2px solid var(--main-color);
    line-height: 2em;
    text-align: center;
} */

/* .apropos_info ul li{
    list-style: none;
    margin-left: 5%;
}

.interets{
    font-size : 20px;
} */